
{% extends 'master/dashboard_base.html' %}

{% load static %}
{% block title %} {{ gig.title }} by {{ gig.profile.full_name }} | Freelance.{% endblock %}


{% block body %}
<main class="containers">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-columns" style="margin: 55px 70px auto auto">
    <img data-image="black" src="{{gig.gig_image.url}}" alt="">
    <img data-image="blue" src="{{gig.gig_image.url}}" alt="">
    <img data-image="red" class="active" src="{{gig.gig_image.url}}" alt="">
 </div>
 
  
  <!-- Right Column -->
  <div class="right-columns">
 
    <!-- Product Description -->
    <div class="product-descriptions">
      <span style="font-size: 12px;">Graphic Designing</span>
      <h1 style="text-transform: uppercase; font-size: 25px;padding-top: 7px;"><strong>{{gig.title}}</strong></h1>

      <p>{{gig.description}}</p>
      <p style="font-size: 13px;font-weight: bold;">Created {{gig.gig_duration}}</p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configurations">
 
      <!-- Product Color -->
      <div class="product-colors">
        <span>Options</span>
 
        <div class="color-chooses">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>
 
      </div>
 
      <!-- Cable Configuration -->
      <div class="cable-configs">
        <span style="font-size: 12px;padding-bottom: 7px;">Package Type</span>
 
        <div class="cable-chooses">
          <button>Basic</button>
          <button>Medium</button>
          <button>Premium</button>
        </div>
 
        <a href="#">Contact the seller to talk about your project to evaluate timing and cost.</a>
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-prices">
      <span>{{gig.price}}$</span>
      {% if request.user.id %}
      <a href="{% url 'order' gig.slug %}" class="cart-btn">Order Now</a>
      {% else %}
      <a href="{% url 'signin' %}" class="cart-btn">Login To Order</a>
      {% endif %}
    </div>
  </div>


</main>


 

<div class="row" style="padding-left: 12px;margin-top: -100px;margin-bottom: 100px;">
   <div class="row" style="padding-left: 100px;float: right;">
      <form action="{% url 'like-gig' %}" method="POST" class="like-form" id="{{gig.id}}">
      {% csrf_token %}
      <input type="hidden" name="gig_id" value="{{gig.id}}">
                                                        
                                                        
                                                          
        <button class="btn btn-link btn-xs  like-btn{{gig.id}}" type="submit" name="action">
          {% if request.user not in gig.liked.all %}
              <i class="fa fa-thumbs-o-up fa-2x"></i>
          {% else %}
              <i class="fa fa-thumbs-up fa-2x"></i>
          
      {% endif %}
      </button>
      <strong class="like-count{{gig.id}}" style="font-size: 14px;"> {{ gig.liked.all.count }} Like{{ like|pluralize }}</strong>
    </form>
    <div class="reviews" style="padding-left: 30px;">
      <i class="fa fa-commenting-o fa-2x"></i><strong class="" style="font-size: 14px;"> {{ review.count }} Review{{ review|pluralize }} </strong>
    </div>
    <div class="reviews" style="padding-left: 30px;padding-right: 400px;">
      <i class="fa fa-share fa-2x"></i><strong class="" style="font-size: 14px;"> Share </strong>
    </div>

    <form action="{% url 'save-gig' %}" method="POST" class="like-form" id="{{gig.id}}">
      {% csrf_token %}
      <input type="hidden" name="gig_id" value="{{gig.id}}">
    <button class="btn btn-link btn-xs  like-btn{{gig.id}}" type="submit" name="action">
          {% if request.user not in gig.favourite.all %}
              <i class="fa fa-bookmark-o fa-3x"></i>
          {% else %}
              <i class="fa fa-bookmark fa-3x"></i>
          
      {% endif %}
      </button>
    </form>
</div>
</div>


<div class="row pl-5" style="padding-bottom: 25px;">
  <div class="col-lg-7">
    {% if gig.user.is_available == False %}
      <div class="alert" style="text-align:center;padding: 18px;background-color: #f44336; /* Red */color: white;margin-bottom: 15px;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';" style="margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;">&times;</span>
        <p style="font-size: 14px;color: white;font-weight: bold;">This user is currently unavailable right now.</p> 
      </div>
    {% endif %}

    <h4 style="padding-bottom: 20px;margin-left: 50px;"><strong>About The Seller </strong></h4>

    <!--<div class="imgcir pt-5">

      <a href=""><img class="rounded-circle" src="{{ profile.profile_image.url }}" style="height: 130px;width: 130px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>

      <p style="float: right;padding-right: 380px; font-size: 18px;color: black;"><b>{{account.account_name}}</b></p>

      <a href="#" class="cart-btn" style="background-color: white;border:1px solid grey;color: black;float: right;">Contact</a>
                                
    </div>-->




  
<div class="container">
  <div class="row" >

       <div class="well profile" style="background-color: white;border:1px solid white;">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                  <div class="imgcir" style="padding-bottom: 15px;">
                    <a href=""><img class="rounded-circle" src="{{ gig.profile.profile_image.url }}" style="height: 130px;width: 130px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>
                  </div>
                    <h2 style="text-transform: uppercase;padding-bottom: 7px;">{{gig.profile.full_name}}</h2>

                    <p><strong>About: </strong> {{gig.profile.skills}} </p>

                    <p><strong>Description </strong> </p><p>{{gig.profile.description}}</p>
                    <p><strong>Skills: </strong>
                        <span class="tags">html5</span> 
                        <span class="tags">css3</span>
                        <span class="tags">jquery</span>
                        <span class="tags">bootstrap3</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p style="font-size: 15px;">Ratings
                            <a href="#">
                                <span class="fa fa-star fa-2x"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star fa-2x"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star fa-2x"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star fa-2x"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o fa-2x"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                    {% if request.user.id %}
                    <div class="button" style=";margin-top: 20px;">
                      <a href="{% url 'visitprofile' id %}">
                    <button style="color: #3399FF;
                          font-family: 'Helvetica';
                          font-size: 10pt;
                          background-color: #ffffff;
                          border: 1px solid;
                          border-color: #3399FF;
                          border-radius: 3px;
                          width: 185px;
                          height: 30px;  
                          top: 50px;
                          

                          cursor: hand;">
                          <b>Profile</b>
                    </button>
                  </a>
                </div> 
                {% endif %}
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> {{followers.count}} </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>{{following.count}}</strong></h2>                    
                    <p><small>Following</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>{{ total_likes.count }}</strong></h2>                    
                    <p><small>Likes</small></p>
                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
            </div>
       </div>                 

  </div>
</div>

  </div>

  <div class="col-lg-5 col-2 fixed-top one" style="position: -webkit-sticky;position: sticky; margin-top: -50px;">
  <!--HERE col-2 fixed-top one IS USED TO MAKE THE PRICE CARD COLUME FIX AND OTHER LEFT COLUMN SCROLL-->
  
  <div class="wrapper-card" style="display: flex;
            flex-wrap: nowrap;
            margin: 40px auto;
            width: 77%;">
        <div class="card popular" style="background: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 1px transparent;
            flex: 1;
            margin: 8px;
            padding: 30px;
            position: relative;
            text-align: center;
            transition: all 0.5s ease-in-out;margin-top: -10px;
            margin-bottom: -10px;">
            <div class="card-ribbon" style="position: absolute;
            overflow: hidden;
            top: -10px;
            left: -10px;
            width: 114px;
            height: 112px;">
                <span style="position: absolute;
            display: block;
            width: 160px;
            padding: 10px 0;
            background-color: #e8aa3e;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            text-align: center;
            left: -35px;
            top: 25px;
            transform: rotate(-45deg);">most popular</span>
            </div>
            <div class="card-title">
                <h3 style="color: #e8aa3e;
            font-size: 22px;color: 
            text-transform: uppercase;">Pro</h3>
                <h4 style=" color: rgba(0, 0, 0, 0.6);">Maecenas ut justo molestie, pharetra arcu ac, mollis est.</h4>
            </div>
            <div class="card-price" style=" margin: 50px;margin: 20px 0;">
                <h1 style="color: #e8aa3e;
            font-size: 60px;">
                <sup style=" font-size: 15px;
            display: inline-block;
            margin-left: -20px;
            width: 10px;">$</sup>
                15
                <small style=" color: rgba(0, 0, 0, 0.3);
            display: block;
            font-size: 11px;
            text-transform: uppercase;">month</small>
            </h1>
            </div>
            <div class="card-description" style="display: block;
            list-style: none;
            margin: 10px 0;
            margin-top: -10px;
            padding: 0;">
                <ul>
                    <li style="color: rgba(0, 0, 0, 0.6);
            font-size: 15px;
            margin: 0 0 15px;">Lorem ipsum dolor sit amet</li>
                    <li style="color: rgba(0, 0, 0, 0.6);
            font-size: 15px;
            margin: 0 0 15px;">Pellentesque hendrerit</li>
                    <li style="color: rgba(0, 0, 0, 0.6);
            font-size: 15px;
            margin: 0 0 15px;">Aliquam at orci aliquam</li>
                    <li style="color: rgba(0, 0, 0, 0.6);
            font-size: 15px;
            margin: 0 0 15px;">Praesent non sapien laoreet</li>
                </ul>
            </div>
            <div class="card-action">
                <button type="button" style="background: #e8aa3e;
            border: 2px solid #e8aa3e;
            border-radius: 30px;
            color: white;
            cursor: pointer;
            display: block;
            font-size: 25px;
            font-weight: bold;
            padding: 10px;
            width: 100%;
            height: 60px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;">Get Pro</button>
            </div>
        </div>
    </div>
</div>

    <div class="col-lg-10">
      <section class="blog-single-sec section-padding">
            <div class="container">
                <div class="blog-single-details">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-single-post single">

                                
                              
                            <div class="comment-section">
                                <h3 class="p-title" style="font-size: 25px;font-weight: bold;">Reiview{{ review|pluralize }}({{ review.count }})</h3>
                                <hr style="padding-bottom: 25px;">
                                <ul style="list-style: none;">
                                  
                                  {% for r in review %}
                                    <li>

                                        <div class="cm-info-sec">
                                          <div class="col-lg-2" style="margin-right: -5px;">
                                            <img src="{{r.profile.profile_image.url}}" style="height: 50px; width: 50px;">
                                          </div>
                                          <div class="col-lg-10">
                                            <div class="cm-info" style="padding-right: 250px;">
                                                <h3 style="font-size: bold;"> {{r.user}}</h3>
                                                <h4>{{r.comment_time}}</h4>
                                                <figure>
                       
                                                  <figcaption class="ratings">
                                                     <a href="#">
                                                         <span class="fa fa-star fa-1x"></span>
                                                      </a>
                                                      <a href="#">
                                                          <span class="fa fa-star fa-1x"></span>
                                                      </a>
                                                      <a href="#">
                                                          <span class="fa fa-star fa-1x"></span>
                                                      </a>
                                                      <a href="#">
                                                          <span class="fa fa-star fa-1x"></span>
                                                      </a>
                                                      <a href="#">
                                                           <span class="fa fa-star-o fa-1x"></span>
                                                      </a> 
                                                      </p>
                                                  </figcaption>
                                              </figure>
                                            </div>
                                          </div>
                                        </div><!--cm-info-sec end-->
                                        <p style="padding-left: 15px;">{{r.message}} </p>
                                        <a href="#" title="" class="cm-reply" class="reply-btn">Reply</a>
                                       </li>

                                       

                                       <li> 
                                        
                                        <!--reply section-->
                                        <div class="post-comment-sec" id="comment-sec" style="margin-left: 50px;">
                                          <h3 class="p-title" style="font-size: 12px;font-weight: bold;">Reply{{reply|pluralize }}(  {{ reply.count }}  )</h3>
                                            {% for rep in r.replies.all %}

                                            <ul style="list-style: none;">
                                            <li>

                                                  <div class="cm-info-sec">
                                                    <div class="col-lg-2" style="margin-right: -5px;">
                                                      <img src="{{rep.profile.profile_image.url}}" style="height: 50px; width: 50px;">
                                                    </div>
                                                    <div class="col-lg-10">
                                                      <div class="cm-info" style="padding-right: 250px;">
                                                          <h3 style="font-size: bold;"> {{rep.user}}</h3>
                                                          <h4>{{rep.comment_time}}</h4>
                                                          
                                                      </div>
                                                    </div>
                                                  </div><!--cm-info-sec end-->
                                                  <p style="padding-left: 15px;">{{rep.message}} </p>
                                                  
                                                  
                                              </li>
                                            </ul>

                                            {% endfor %}
                                            <form class="js-ajax-form"  method="POST">
                                                <div class="form-group no-pt">
                                                  {% csrf_token %}
                                                    <input type="hidden" name="review_id" value="{{r.id}}">
                                                <div class="form-fieldss">
                                                    <div class="row">



                                                        <div class="col-lg-9 col-md-9 pl-0 pr-0">
                                                            <div class="form-field">

                                                                <textarea name="message" placeholder="Your Reply" required style="margin-left: 50px;"></textarea>
                                                            </div><!-- form-field end-->
                                                        </div>
                                                        <div class="col-lg-3 col-md-9 pl-0">
                                                            <button type="submit" class="btn-default submit">Reply</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!--reply ends-->
                                    </li>
                                    {% endfor %}
                                  
                                </ul>

                            </div><!--comment-section end-->

                            

                            <div class="post-comment-sec" id="comment-sec">
                                <h3 class="p-title">Leave a Review</h3>
                                <form class="js-ajax-form"  method="POST">
                                    <div class="form-group no-pt">
                                      {% csrf_token %}
                                        <div class="missing-message">
                                            Populate Missing Fields
                                        </div>
                                        <div class="success-message">
                                            <i class="fa fa-check text-primary"></i> Thank you!. Your message is successfully sent...
                                        </div>
                                        <div class="error-message">Populate Missing Fields</div>
                                    </div><!--form-group end-->

                                    <div class="form-fieldss">
                                        <div class="row">



                                            <div class="col-lg-12 col-md-12 pl-0 pr-0">
                                                <div class="form-field">
                                                    <textarea name="message" placeholder="Your Message" required></textarea>
                                                </div><!-- form-field end-->
                                            </div>
                                            <div class="col-lg-12 col-md-12 pl-0">
                                                <button type="submit" class="btn-default submit">Review</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div><!--post-comment-sec end-->

                        </div>

                    </div>
                </div><!--blog-single-details end-->
            </div>
        </section><!--blog-single-sec end-->

    </div>
  
</div>

<script>
    $(document).ready(function() {
 
  $('.color-choose input').on('click', function() {
      var headphonesColor = $(this).attr('data-image');
 
      $('.active').removeClass('active');
      $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
      $(this).addClass('active');
  });
 
});
</script>
</body>
</html>


{% endblock %}