{% extends 'master/dashboard_base.html' %}
{% load static %}
{% block title %}My Orders | Freelance.{% endblock %}


{% block body %}



<div class="row pb-5" style="background-color: #F2F3F4;">
  <div class="col-lg-4">
      <div id="card1" style=" width:100%; height:600px; border:1px solid #C1C7C9;padding-left:150px;text-align: justify; background-color: #FFF;margin: 30px 30px auto; 
    /* top, left, bottom*/ padding: 10px 20px 30px; float: left; "> 
        <header>
            <div class="imgcir pl-5 pt-3" style="margin-left: 95px;">

              {% if userinfo.profile_image %}
                <a href="{% url 'changeprofilepic' %}"><img class="rounded-circle" src="{{ userinfo.profile_image.url }}" style="height: 130px;width: 130px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>


              {% else %}
                <a href="{% url 'changeprofilepic' %}"><img class="rounded-circle" src="{% static 'img/default_profile_img.jpg' %}" style="height: 130px;width: 130px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>
              {% endif %}                    
            </div>

            

            <div class="info">
                <h5 style="text-align: center;padding-top:25px;"><b>{{ request.user.account_name }}</b>&nbsp
              {% if user.user_verified %}
                    <i class="fa fa-check-circle fa-1x pl-2" style="color: #2a9df4;position:absolute;margin-top: 3px;"></i></h5>
             {% endif %}
            </div>
        </header>
        <div class="row">
          <div class="col-lg-8">
              {% if acc.is_available == True %}
                <div class="button" style="margin-left: 65px;margin-top: 20px;">
                  <a href="{% url 'availability' %}">
                    <button style="color: #3399FF;
                          font-family: 'Helvetica';
                          font-size: 10pt;
                          background-color: #ffffff;
                          border: 1px solid;
                          border-color: #3399FF;
                          border-radius: 3px;
                          width: 185px;
                          height: 30px;  
                          top: 50px;
                          left: 180px;   
                          cursor: hand;">
                          <b>In Office</b>
                    </button>
                  </a>
                </div> 
                {% else %}
                  <div class="button" style="margin-left: 65px;margin-top: 20px;">
                     <a href="{% url 'availability' %}">
                      <button style="color: #3399FF;
                            font-family: 'Helvetica';
                            font-size: 10pt;
                            background-color: #ffffff;
                            border: 1px solid;
                            border-color: #3399FF;
                            border-radius: 3px;
                            width: 185px;
                            height: 30px;  
                            top: 50px;
                            left: 180px;   
                            cursor: hand;">
                            <b>Out of Office</b>
                      </button>
                    </a>

                </div> 
                {% endif %}
              </div>
              <div class="col-lg-4">
                <div class="button" style="margin-left: -8px;margin-top: 20px;">
                     <a href="{% url 'availability' %}">
                      <button style="color: white;
                            font-family: 'Helvetica';
                            font-size: 10pt;
                            background-color: #3399FF;
                            border: 1px solid;
                            border-color: #3399FF;
                            border-radius: 3px;
                            width: 30px;
                            height: 30px;  
                            top: 50px;
                            left: 180px;   
                            cursor: hand;">
                            <a href="{% url 'editprofile' %}" style="text-decoration: none;"><i class="fa fa-pencil-square-o fa-xs" style="color: white !important;"></i></a>
                      </button>
                    </a>

                </div> 
              </div>
            </div>
                <hr style="width: 90%;">

                <div class="row">
                  <p style="font-size: 12px;font-weight: bold;font-family: sans-serif;padding-left: 5px;">Orders Completed</p>
                  <p style="float: right;padding-left: 240px;font-family: sans-serif;font-size: 12px;">{{total_completed_percentage|floatformat:"0"}}%</p>
                </div>
      
               <div class="progress" style="height: 10px;margin-top: -15px;">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{total_completed_percentage}}%">
                  </div>
                </div>

                <div class="row">
                  <p style="font-size: 12px;font-weight: bold;font-family: sans-serif;padding-left: 5px;">Delivery Time</p>
                  <p style="float: right;padding-left: 275px;font-family: sans-serif;font-size: 12px;">60%</p>
                </div>

                <div class="progress" style="height: 10px;margin-top: -15px;">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100" style="width:60%">

                  </div>
                </div>

                <div class="row">
                  <p style="font-size: 12px;font-weight: bold;font-family: sans-serif;padding-left: 5px;">Response Rate</p>
                  <p style="float: right;padding-left: 270px;font-family: sans-serif;font-size: 12px;">80%</p>
                </div>

                <div class="progress" style="height: 10px;margin-top: -15px;">

                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100" style="width:80%;">
                    
                  </div>
                </div>

                

            </div> 

        </div>
        <div class="col-lg-8 pr-5">
          <div class="row" style="padding-top: 22px;padding-left: 20px;">
            <div class="column" style="">
              <div class="card"><p style="font-family: sans-serif;font-size: 16px;">In Progress</p><p style="font-weight: bold;font-size: 29px;font-family: sans-serif;">{{oip}}</p></div>

            </div>
            <div class="column">
              <div class="card"><p style="font-family: sans-serif;font-size: 16px;">Pending</p><p style="font-weight: bold;font-size: 29px;font-family: sans-serif;">{{op}}</p></div>

            </div>
            <div class="column">
              <div class="card"><p style="font-family: sans-serif;font-size: 16px;">Completed</p><p style="font-weight: bold;font-size: 29px;font-family: sans-serif;">{{oc}}</p></div>

            </div>
            <div class="column">
              <div class="card"><p style="font-family: sans-serif;font-size: 16px;">Total Gigs</p><p style="font-weight: bold;font-size: 29px;font-family: sans-serif;">{{total}}</p></div>

            </div>
          </div>

                <div id="card3" style="margin: 30px 25px auto; width: 820px;">

                  <a href="#home" class="active">my orders</a>
                  <a href="#news">active orders</a>
                  <a href="#news">pending orders</a>
                  <a href="#news">completed orders</a>
                </div>
                
                <div class="card4" style="padding-top: 100px;padding-left: 40px;">
                  <section class="shop checkout section" style="">
                      <div class="container">
                        <div class="row"> 
                          <div class="col-lg-12 col-12">

                                  <table id="cart" class="table table-hover table-condensed">
                                    <thead>
                                      <tr>
                                        <th style="width:50%">Product</th>
                                        
                                        <th style="width:10%">Price</th>
                                        <th style="width:20%">Details</th>
  
                                      </tr>
                                    </thead>
                                {% if orders %}

                                  {% for order in orders %}
                                    <tbody>
                                      <tr>
                                        <td data-th="Product">
                                          <div class="row">
                                            <div class="col-sm-4 hidden-xs"><img src="{{order.gig.gig_image.url}}"/></div>
                                            <div class="col-sm-8">
                                              <h4 class="nomargin" style="font-size: 16px;">{{order.gig.title}}</h4>
                                              <h4 style="font-size: 14px;">Ordered By: {{order.customer.account_name}}</h4>
                                             
                                            </div>
                                          </div>
                                        </td>
                                        <td data-th="Price">${{order.gig.price}}</td>
                                        
                                        <td class="actions" data-th="">
                                          <a href="{% url 'myordersdetails' order.slug %}">
                                            <button class="btn btn-info" style="background-color:#F3B01D;border:1px solid #F3B01D;float: left;height:25px;width: 80px;"><p style="font-size: 11px;color: white;margin-top: -7px;margin-left: -5px;">View Details</p></button>
                                            
                                      
                                          </a>
                                          {% if order.status == "In Progress" %}
                                            <div class="progress" style="float: right;background-color: #4BA9F3;width: 80px;height: 25px;"><p style="font-size: 9px;color: white;margin-left: 18px;">In Progress</p></div>           
                                          {% elif order.status == "Complete" %}
                                          <div class="progress" style="float: right;background-color: #6EBD71;width: 80px;height: 25px;"><p style="font-size: 9px;color: white;margin-left: 18px;">Completed</p></div>

                                             
                                          {% elif order.status == "Pending" %}
                                            <div class="progress" style="float: right;background-color: grey;width: 80px;height: 25px;"><p style="font-size: 9px;color: white;margin-left: 18px;">Pending</p></div>
                                          {% elif order.status == "Cancelled" %}
                                            <div class="progress" style="float: right;background-color: #F4675C;width: 80px;height: 25px;"><p style="font-size: 9px;color: white;margin-left: 18px;">Canceled</p></div>
                                          
                                          {% endif %}
                                        </td>
                                        
                                      </tr>
                                    </tbody>
                                  {% endfor %}
                                {% else %}
                                  <tbody>
                                      <div class="container" style="width:85%; height:400px;text-align: justify;background-image:url('{% static 'img/2wowempty.jpg' %}');border:3px dashed #C1C7C9; background-color: #fff;  margin: 30px    200px 20px 20px; 
                                      /* top, left, bottom*/ 
                                      padding: 10px 20px 30px; 
                                      float: left; ">
                                      <p style="text-align: center;font-family: 'Helvetica';padding-top: 21%;padding-right: 13%;"><b>It seems like you have no orders yet.</b></p>
                                    </div>
                                       


                                  </tbody>
                               {% endif %}
                              </table>

                          </div>


                    

                          </div>
                        </div>
                
                    </section>
                </div> 

            </div> 
        </div>
    </div>

{% endblock %}