{% extends 'master/base.html' %}
{% load static %}
{% block title %}User Profile | Freelance.{% endblock %}


{% block body %}
<div class="row pb-5" style="background-color: #F2F3F4;">
  <div class="col-lg-4">
      <div id="card1" style=" width:100%; height:400px; border:1px solid #C1C7C9;padding-left:150px;text-align: justify; background-color: #FFF;margin: 30px 30px auto; 
    /* top, left, bottom*/ padding: 10px 20px 30px; float: left; "> 
        <header>
            <div class="imgcir pl-5 pt-3" style="margin-left: 95px;">

              {% if userinfo.profile_image %}
                <a href="{% url 'changeprofilepic' %}"><img class="rounded-circle" src="{{ userinfo.profile_image.url }}" style="height: 130px;width: 130px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>
              {% else %}
                <a href="{% url 'changeprofilepic' %}"><img class="rounded-circle" src="{% static 'img/default_profile_img.jpg' %}" style="height: 130px;width: 130px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>
              {% endif %}                    
            </div>
            <div class="info">
                <h5 style="text-align: center;padding-top:25px;"><b>{{ userinfo.user.account_name }}</b><a href="{% url 'editprofile' %}" style="text-decoration: none;"><i class="fa fa-pencil-square-o fa-xs pl-3"></a></i></h5>
            </div>
        </header>
                <div class="button" style="margin-left: 100px;margin-top: 20px;">
                    <button style="color: #3399FF;
                          font-family: 'Helvetica';
                          font-size: 10pt;
                          background-color: #ffffff;
                          border: 1px solid;
                          border-color: #3399FF;
                          border-radius: 3px;
                          width: 185px;
                          height: 30px;  
                          top: 50px;
                          left: 180px;   
                          cursor: hand;">
                          <b>Follow</b>
                    </button>
                </div> 
                <hr style="width: 90%;">
      
               <p style="font-family:serif;"><i class="fa fa-map-marker pl-3">&nbsp&nbsp&nbsp&nbsp<b style="font-family: 'Helvetica';font-size:14px; ">From:</b><b class="country pr-3" style="font-family: 'Helvetica';padding-left:175px;font-size: 14px;">{{userinfo.country.name}}</b></i></p>
               <!--Here we use .name as userinfo.country gave the initials of the country so .name -->

               <p style="font-family:serif;"><i class="fa fa-user pl-3">&nbsp&nbsp&nbsp&nbsp<b style="font-family: 'Helvetica';font-size: 14px;">Member Since:</b><b style="font-family: 'Helvetica';padding-left:140px;font-size: 14px;">{{user.joined_on}}</b></i></p>
            </div> 


            <div id="card2" style=" width:100%; height:950px; border:1px solid #C1C7C9;padding-left:150px;text-align: justify; background-color: #FFF;margin: 30px 30px auto; 
    /* top, left, bottom*/ padding: 10px 20px 30px; float: left; "> 
          <div class="row pl-4 pt-3 edit">
                  <h5><b>Description</b></h5>
                  <a href="{% url 'editprofile' %}" style="padding-left: 150px; font-size: 14px;" class="edit">Edit Description</a>
              </div>
              <div class="row pl-4 pt-3 pr-5" >
                  <p style="font-size: 12px;font-family:Helvetica;">{{userinfo.description}}</p>
              </div>
            <hr/>
              <div class="row pl-4 pt-3">
                  <h5><b>Languages</b></h5>
                  <a href="{% url 'editprofile' %}" style="padding-left: 155px">Add Language</a>
              </div>
              <div class="row pl-4 pt-3">
                  <p>{{userinfo.languages}}</p>
              </div>
              
            <hr/>
              <div class="row pl-4 pt-3">
                  <h5><b>Skills</b></h5>
                  <a href="{% url 'editprofile' %}" style="padding-left: 240px">Add Skills</a>
              </div>
              <div class="row pl-4 pt-3 pr-5">
                  <p>{{userinfo.skills}}</p>
              </div>
              
            <hr/>
              <div class="row pl-4 pt-3">
                  <h5><b>Linked Accounts</b></h5>
              </div>
           
              <a href="{{userinfo.google}}"><i class="fa fa-google pl-2 pt-3 pr-3"></i>Google</a><br>
              <a href=""><i class="fa fa-facebook pl-2 pt-3 pr-3"></i>Facebook</a><br>
              <a href=""><i class="fa fa-github pl-2 pt-3 pr-3"></i>Github</a><br>
      
              
            </div> 
        </div>
        <div class="col-lg-8 pr-5">

                <div class="heading pt-5 pl-5">

                  <p style="font-size: 20px;"><b> {{userinfo.user.account_name}}'s Gigs</b></p>
                </div>
                    <section class="women-banner spad" style="position:relative;padding-top: 150px;padding-left: 50px;">
                        <div class="container-fluid">
                            <div class="row">
                              {% for g in gig %}
                              <div class="col-lg-4 pb-5">
                                <div class="col-item">
                                    <div class="photo">
                                      
                                      <img src="{{g.gig_image.url}}" class="img-responsive" alt="a"/>
                                    
                                      
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{g.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 15px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 14px;padding-right: : 150px;">
                                                    <b>$ {{g.price}}</b></h5>

                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add col-md-4">
                                                <i class="fa fa-eye fa-1x" style="font-size: 13px;"></i><a href="" class="hidden-sm" style="font-size: 12px;">Details</a></p>
                                                <p class="btn-add col-md-4">
                                                <i class="fa fa-trash fa-1x" style="font-size: 13px;"></i><a href="" class="hidden-sm" style="font-size: 12px;">Remove</a></p>
                                            <p class="btn-details col-md-4">
                                                <i class="fa fa-pencil" style="font-size: 13px;"></i><br><a href="" class="hidden-sm" style="font-size: 12px;">Edit</a></p>
                                            
                                        </div>

                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}






                                               
                            <!--
                                        {% for gig in gigs %}
                                        <div class="product-item" style="margin-right:15px;padding-top:500px;border: 1px solid #C1C7C9">
                                            <div class="pi-pic" style="height: 200px;">
                                                <img src="{% static 'img/products/women-1.jpg' %}" alt="">
                                                <div class="sale">online</div>
                                                <div class="icon">
                                                    <i class="icon_heart_alt"></i>
                                                </div>
                                                <ul>
                                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                    <li class="quick-view"><a href="#">+ Quick Edit</a></li>
                                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="pi-text" style="background-color:white;height: 130px;">
                                                <!--<div class="catagory-name">Web Disigning</div>
                                                <a href="#">
                                                    <p style="font-size: 14px;margin-left: 0px;">{{gig.title}} </p>
                                                </a>
                                                <div class="product-price" style="padding-left: 120px;width: 100%;">

                                                   <h6><p style="font-size: 12px;color: #e7ab3c;font-family: 'Helvetica';text-transform: uppercase;padding-top: 30px;">Starting at  <strong style="font-size: 18px;padding-left: 9px;">${{gig.price}}</strong></p></h6>
                                                    <!--<span>$35.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                      -->
        

                                       
                                        
                                        
                            </div>
                        </div>
                    </section>

            </div> 
        </div>
    </div>

{% endblock %}