{% extends 'master/dashboard_base.html' %}
{% load static %}
    {% block title %}Freelance. - Freelancing Marketplace{% endblock %}
{% block body %}
{% include 'master/slider_bootsrap_jquery.html' %}
    <!-- Hero Section Begin -->
    <div class="row">
        <div class="col-lg-3">
            <div id="test1" style=" width:100%; height:250px; padding-left:150px;text-align: justify; background-color: #f4f5f4;margin: 30px 30px auto; 
    /* top, left, bottom*/ padding: 10px 20px 30px; float: left; "> 
                <header> 
                    <h5 style="text-align: center;padding-top:25px;"><b>Hello!! {{ request.user.account_name }},</b></h5> 
                    <p style="text-align: center;padding-top: 15px;">Get offers from sellers for your project</p> 
                </header>
                <button style="background-color: #4CAF50; border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin-left:auto;margin-right:auto;display:block;margin-top:10%;margin-bottom:0%;"><b>Send Request</b>
                </button> 
            </div> 
        </div>
        <div class="col-lg-9 pr-5" style="">
            <div id="test1" style=" background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{% static 'img/main-banner/dashboard_banner.jpg' %}');width:100%; height:250px;text-align: justify; background-color: #fafafa;  margin: 30px    200px 20px 20px; 
                    /* top, left, bottom*/ 
                    padding: 10px 20px 30px; 
                    float: left; "> 
                    <h3 style="color: white;padding-top: 30px;"><b>Create Your Own Brand.</b></h3>
                    <p style="color: white;padding-top: 10px;">Establish your brand voice with professional brand guidelines.</p>

            </div> 
        </div>
    </div>

        <div class="container" style="padding-bottom: 450px;" >
        <div class="row">
            <div class="row">

                <div class="col-md-9">
                    <h2 style="padding-right: 450px; padding-bottom: 15px;">
                        Our Top Sellers & More in Web Development  </h2>
                </div>
                <div class="col-md-3">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                            data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                data-slide="next"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">

                        {% for gig in gigs %}
                            <div class="col-sm-3">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">
                                                        
                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                </div>

                                                <div class="col-md-7" style="float: right;">
                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 40px;padding-top: 1px;"><b>{{gig.user}}</b></h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>
                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>

                                            </div>

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            

                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            {% for gig in gigs %}
                             <div class="col-sm-3">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">

                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                </div>

                                                <div class="col-md-7" style="float: right;">
                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 40px;padding-top: 1px;"><b>{{gig.user}}</b></h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>
                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>

                                            </div>

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!--<div class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>
                                                   7 Product with Variants</h5>
                                                <h5 class="price-text-color">
                                                    $149.99</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <!-- Hero Section End -->


 


{% endblock %}