{% extends 'master/dashboard_base.html' %}
{% load static %}
    {% block title %}Freelance. - Freelancing Marketplace{% endblock %}
{% block body %}
{% include 'master/slider_bootsrap_jquery.html' %}
<style>
.catmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;


}

.listmenu {
  float: left;
}

.listmenu a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;

}

li a:hover {

    color: #F4AE18;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .listmenu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.listmenu .dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.listmenu .dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.listmenu .dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>
  <!-- Hero Section Begin -->
    <div class="row" style="background-color: white;height: 60px;width: 110%;border: 1px solid #b4b4b4;">
        
            <ul clas="catmenu" style="list-style-type: none;margin: 0; padding: 0;overflow: hidden;margin-left: 70px;">
                {% for catagory in catergories %}
                <div class="dropdown">
                    <li class="listmenu"><p><a href="{% url 'categoriesItem' catagory.id %}">{{catagory.c_name}}</a></p></li>

                </div>
                {% endfor %}
            </ul>
    
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div id="test1" style=" width:100%; height:250px; padding-left:150px;text-align: justify; background-color: #f4f5f4;margin: 30px 30px auto; 
    /* top, left, bottom*/ padding: 10px 20px 30px; float: left; "> 
                <header> 
                    <h5 style="text-align: center;padding-top:25px;"><b>Hello!! {{ request.user.account_name }},</b></h5> 
                    <p style="text-align: center;padding-top: 15px;">Get offers from sellers for your project</p> 
                </header>
                <button style="background-color: #4CAF50; border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin-left:auto;margin-right:auto;display:block;margin-top:10%;margin-bottom:0%;"><b>Send Request</b>
                </button> 
            </div> 
        </div>
        <div class="col-lg-9 pr-5" style="">
            <div id="test1" style=" background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{% static 'img/main-banner/dashboard_banner.jpg' %}');width:100%; height:250px;text-align: justify; background-color: #fafafa;  margin: 30px    200px 20px 20px; 
                    /* top, left, bottom*/ 
                    padding: 10px 20px 30px; 
                    float: left; "> 
                    <h3 style="color: white;padding-top: 30px;"><b>Create Your Own Brand.</b></h3>
                    <p style="color: white;padding-top: 10px;">Establish your brand voice with professional brand guidelines.</p>

            </div> 
        </div>
    </div>

    <div class="row pb-5">
                <div class="col-lg-12 pb-5 pt-5">
                    <div class="section-title">
                        <h2>Popular Professional Services. </h2>
                    </div>
                </div>
            </div>
        <div class="instagram-photo">
            <div class="insta-item set-bg pr-3" data-setbg="{% static 'img/cat-1.jpg' %}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#"><stront>LOGO DESIGN</stront></a></h5>
                </div>
            </div>
            <div class="insta-item set-bg pr-3" data-setbg="{% static 'img/cat-2.jpg' %}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#"><stront>WEB DEVELOPER</stront></a></h5>
                </div>
            </div>
            <div class="insta-item set-bg pr-3" data-setbg="{% static 'img/cat-3.jpg' %}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#"><stront>GRAPHIC DESIGN</stront></a></h5>
                </div>
            </div>
            <div class="insta-item set-bg pr-3" data-setbg="{% static 'img/cat-4.jpg' %}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#"><stront>MUSIC CREATOR</stront></a></h5>
                </div>
            </div>
            <div class="insta-item set-bg pr-3" data-setbg="{% static 'img/cat-5.jpg' %}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#"><stront>BUSINESS ANALYST</stront></a></h5>
                </div>
            </div>
             <div class="insta-item set-bg pr-3" data-setbg="{% static 'img/cat-6.jpg' %}">
                <div class="inside-text">
                    <i class="ti-instagram"></i>
                    <h5><a href="#"><stront>SOCIAL MEDIA</stront></a></h5>
                </div>
            </div>
           

        </div>


<div class="container" style="padding-bottom: 110px;padding-top: 100px;" >
        <div class="row">

            <div class="row">

                <div class="col-md-9">
                    <p style="padding-right: 450px; padding-bottom: 15px;width: 100%;font-size: 25px;">
                        Our Top Sellers & More in Web Development  </p>
                </div>
                <div class="col-md-3">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs" style="padding-left: 150px;">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                            data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                data-slide="next"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">

                        {% for gig in gigs %}
                            <div class="col-sm-3 pb-5">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />

                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                     
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">
                                                        
                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                    {% if gig.user.user_online %}
                                                        <div class="onlinecir" style="padding-left: 50px;margin-top: -15px;position: absolute;">
                                                            <span class="dot" style="height: 12px;width: 12px;background-color: green;border-radius: 50%;display: inline-block;border:solid 2px #fff;"></span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-7" style="float: right;display: inline-block;">

                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 30px;padding-top: 1px;"><b style="display: flex;">{{gig.user}}
                                                        {% if gig.user.user_verified %}
                                                            <i class="fa fa-check-circle" style="color: #2a9df4;margin-left: 5px;"></i>
                                                            {% endif %}
                                                    </b>
                                                </h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>

                                                </div>
                                            </div>
                                
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>
                                                    
                                            </div>

                                           

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            

                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            {% for gig in nextgigs %}
                             <div class="col-sm-3 pb-5">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">

                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                    {% if gig.user.user_online %}
                                                        <div class="onlinecir" style="padding-left: 50px;margin-top: -15px;position: absolute;">
                                                            <span class="dot" style="height: 12px;width: 12px;background-color: green;border-radius: 50%;display: inline-block;border:solid 2px #fff;"></span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-7" style="float: right;display: inline-block;">

                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 30px;padding-top: 1px;"><b style="display: flex;">{{gig.user}}
                                                        {% if gig.user.user_verified %}
                                                            <i class="fa fa-check-circle" style="color: #2a9df4;margin-left: 5px;"></i>
                                                            {% endif %}
                                                    </b>
                                                </h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>

                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>

                                            </div>

                                            

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!--<div class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>
                                                   7 Product with Variants</h5>
                                                <h5 class="price-text-color">
                                                    $149.99</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    


<div class="container" style="padding-bottom: 110px;" >
        <div class="row">
            <div class="row">

                <div class="col-md-9">
                    <p style="padding-right: 450px; padding-bottom: 15px;width: 100%;font-size: 25px;">
                        Gigs of People you followed  </p>
                   
                </div>
                <div class="col-md-3">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs" style="padding-left: 150px;">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                            data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                data-slide="next"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">

                        {% for gig in followers %}
                            <div class="col-sm-3 pb-5">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">
                                                        
                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                    {% if gig.user.user_online %}
                                                        <div class="onlinecir" style="padding-left: 50px;margin-top: -15px;position: absolute;">
                                                            <span class="dot" style="height: 12px;width: 12px;background-color: green;border-radius: 50%;display: inline-block;border:solid 2px #fff;"></span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-7" style="float: right;display: inline-block;">

                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 30px;padding-top: 1px;"><b style="display: flex;">{{gig.user}}
                                                        {% if gig.user.user_verified %}
                                                            <i class="fa fa-check-circle" style="color: #2a9df4;margin-left: 5px;"></i>
                                                            {% endif %}
                                                    </b>
                                                </h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>

                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>
                                                    
                                            </div>

                                           

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            

                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            {% for gig in followers %}
                             <div class="col-sm-3 pb-5">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">

                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                    {% if gig.user.user_online %}
                                                        <div class="onlinecir" style="padding-left: 50px;margin-top: -15px;position: absolute;">
                                                            <span class="dot" style="height: 12px;width: 12px;background-color: green;border-radius: 50%;display: inline-block;border:solid 2px #fff;"></span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-7" style="float: right;display: inline-block;">

                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 30px;padding-top: 1px;"><b style="display: flex;">{{gig.user}}
                                                        {% if gig.user.user_verified %}
                                                            <i class="fa fa-check-circle" style="color: #2a9df4;margin-left: 5px;"></i>
                                                            {% endif %}
                                                    </b>
                                                </h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>

                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>

                                            </div>

                                            

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!--<div class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>
                                                   7 Product with Variants</h5>
                                                <h5 class="price-text-color">
                                                    $149.99</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>





    <div class="container" style="padding-bottom: 110px;" >
        <div class="row">
            <div class="row">

                <div class="col-md-9">

                     <p style="padding-right: 450px; padding-bottom: 15px;width: 100%;font-size: 25px;">
                        Recommended for You  </p>
                </div>
                <div class="col-md-3">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs" style="margin-left: 130px;">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                            data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                data-slide="next"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">

                        {% for gig in non_followers %}
                            <div class="col-sm-3 pb-5">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">
                                                        
                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                    {% if gig.user.user_online %}
                                                        <div class="onlinecir" style="padding-left: 50px;margin-top: -15px;position: absolute;">
                                                            <span class="dot" style="height: 12px;width: 12px;background-color: green;border-radius: 50%;display: inline-block;border:solid 2px #fff;"></span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-7" style="float: right;display: inline-block;">

                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 30px;padding-top: 1px;"><b style="display: flex;">{{gig.user}}
                                                        {% if gig.user.user_verified %}
                                                            <i class="fa fa-check-circle" style="color: #2a9df4;margin-left: 5px;"></i>
                                                            {% endif %}
                                                    </b>
                                                </h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>

                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>
                                                    
                                            </div>

                                           

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            

                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            {% for gig in non_followers %}
                             <div class="col-sm-3 pb-5">
                                <div class="col-item">
                                    <a href="{% url 'othersgigdetails' gig.slug %}">
                                    <div class="photo">
                                        <img src="{{gig.gig_image.url}}" alt="a" />
                                    </div>
                                </a>
                                    <div class="info">
                                        <div class="row">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <a href="">
                                                <div class="col-md-5" style="float: left;">
                                                    <div class="imgcir pt-3" style="padding-left: 20px;">

                                                        <a href="#"><img class="rounded-circle" src="{{gig.profile.profile_image.url}}" style="height: 40px;width: 40px;background-color: #bbb;margin:auto;border-radius: 50%;display: inline-block;"></a>             
                                                    </div>
                                                    {% if gig.user.user_online %}
                                                        <div class="onlinecir" style="padding-left: 50px;margin-top: -15px;position: absolute;">
                                                            <span class="dot" style="height: 12px;width: 12px;background-color: green;border-radius: 50%;display: inline-block;border:solid 2px #fff;"></span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-7" style="float: right;display: inline-block;">

                                                    <h5 style="font-size: 14px;padding-left: 5px;padding-right: 30px;padding-top: 1px;"><b style="display: flex;">{{gig.user}}
                                                        {% if gig.user.user_verified %}
                                                            <i class="fa fa-check-circle" style="color: #2a9df4;margin-left: 5px;"></i>
                                                            {% endif %}
                                                    </b>
                                                </h5>
                                                    <h5 style="font-size: 14px;padding-left: 5px; font-size: 10px;">{{gig.profile.country.name}}</h5>

                                                </div>
                                            </div>
                                        </a>
                                            <div class="prices col-md-12">
                                                <h5 style="font-size: 12px;padding-left: 5px;">
                                                    {{gig.title}}</h5>
                                                
                                            </div>
                                            <div class="rating hidden-sm col-md-12" style="padding-top: 10px;float: right;padding-left: 17px;">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>

                                                <h5 style="font-size: 20px;float: left;color:#e7ab3c;padding-top: 7px;padding-right: : 150px;padding-bottom: 15px;">
                                                    <b>$ {{gig.price}}</b></h5>

                                            </div>

                                            

                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="{% url 'othersgigdetails' gig.slug %}" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!--<div class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>
                                                   7 Product with Variants</h5>
                                                <h5 class="price-text-color">
                                                    $149.99</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


    








    


{% endblock %}